@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Playfair+Display:wght@500&display=swap');
:root {
    --color-header: #ff7b62;
    --color-section1: #ffaf4a;
    --color-section2: #ffe662;
    --color-section3: #fffb99;
    --color-section5: #fefece;
    --color-section6: #de8bb2;
    --color-section7: #dc9d8f;
    --color-section8: #d9b886;
    --color-section9: #ced6a2;
    --color-section10:#b5e6ce;
}
*{
    margin:0; padding: 0; box-sizing: border-box;
}

header{
    width: auto; 
    height: 660px;
    object-fit: contain;
    z-index: auto;
}


h1{font-family: 'Fuzzy Bubbles', cursive; font-size: 200px; text-align: center; padding-top: 30px; letter-spacing: 0px;}
.menu {text-align: center; padding-top: 170px; }
nav ul li {display: inline-block; }
li {width:250px; height: 60px; background-color: var(--color-section1); border-radius: 30px; box-shadow: 5px 5px 6px 5px rgba(0,0,0,0.65);
    -webkit-box-shadow: 5px 5px 6px 5px rgba(0,0,0,0.65);
    -moz-box-shadow: 5px 5px 6px 5px rgba(0,0,0,0.65);
    font-size: 50px; 
}
a {text-decoration: none; text-align: center;}

.presentación {background: rgb(253,45,232);
    background: linear-gradient(0deg, rgba(253,45,232,1) 0%, rgba(34,193,195,1) 100%);
    width: auto; height: 660px;
}
.bloque1 {text-align: right; font-size: 40px;}
img {width: auto; height: 200px;}
.imagen {text-align: left;}

.Redes {background-color: #f98866; width: auto; height: 100px;}
.bloque2 {text-align: left;}
.red {text-align: left; font-size: 50px; }
footer {font-size: 30px; }